<% provide(:title, "Home")%>
<div class="center hero-unit">
  <h1><%= ORGANIZATION_NAME %></h1>
  <%= link_to image_tag("parviz.jpg", alt: "Parviz"), about_path %>
  
  <h2>
    The place to go for your LA real Estate needs!
  </h2>
  
</div>

